<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Comment</title>
</head>
<body>
  <h1>Single Comment</h1>

  <h3>Comment id: <%= comment.id  %></h3>
  <p><%= comment.text %> - <b><%= comment.username %></b></p>
  <a href="/comments">All Comments</a>
  <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
  <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
    <button style="color: red;">Delete</button>
  </form>

</body>
</html>